## DB

Here I convert a few columns to make it compatible to store in SQL

In [13]:
# import json file and save it to pandas dataframe
import pandas as pd
import json
import os
import glob
import numpy as np

# read the json file
df_meta = pd.read_json('./meta_AMAZON_FASHION.json', lines=True)
df_meta.head()

,title,image,brand,feature,rank,date,asin,description,price,also_view,also_buy,fit,details,similar_item,tech1
0,Slime Time Fall Fest [With CDROM and Collector...,[https://images-na.ssl-images-amazon.com/image...,Group Publishing (CO),[Product Dimensions:\n \n8....,"13,052,976inClothing,Shoesamp;Jewelry(",8.70 inches,0764443682,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,XCC Qi promise new spider snake preparing men'...,[https://images-na.ssl-images-amazon.com/image...,NaN,NaN,"11,654,581inClothing,Shoesamp;Jewelry(",5 star,1291691480,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Magical Things I Really Do Do Too!,[https://images-na.ssl-images-amazon.com/image...,Christopher Manos,[Package Dimensions:\n \n8....,"19,308,073inClothing,ShoesJewelry(",5 star,1940280001,[For the professional or amateur magician. Ro...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Ashes to Ashes, Oranges to Oranges",[https://images-na.ssl-images-amazon.com/image...,Flickerlamp Publishing,[Package Dimensions:\n \n8....,"19,734,184inClothing,ShoesJewelry(",5 star,1940735033,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Aether & Empire #1 - 2016 First Printing Comic...,[https://images-na.ssl-images-amazon.com/image...,NaN,[Package Dimensions:\n \n10...,"10,558,646inClothing,Shoesamp;Jewelry(",5 star,1940967805,NaN,$4.50,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
# df = pd.read_json('AMAZON_FASHION.json', lines=True)
# df.head()df = pd.read_json('AMAZON_FASHION.json', lines=True)
# df.head()

In [15]:
# df.dtypes
# for column in df.columns:
#     unique_types = df[column].apply(type).unique()
#     print(f"Column: {column}, Unique Types: {unique_types}")

In [16]:
for column in df_meta.columns:
    unique_types = df_meta[column].apply(type).unique()
    print(f"Column: {column}, Unique Types: {unique_types}")

Column: title, Unique Types: [<class 'str'> <class 'float'>]
Column: image, Unique Types: [<class 'list'> <class 'float'>]
Column: brand, Unique Types: [<class 'str'> <class 'float'>]
Column: feature, Unique Types: [<class 'list'> <class 'float'>]
Column: rank, Unique Types: [<class 'str'> <class 'float'> <class 'list'>]
Column: date, Unique Types: [<class 'str'> <class 'float'>]
Column: asin, Unique Types: [<class 'str'>]
Column: description, Unique Types: [<class 'float'> <class 'list'>]
Column: price, Unique Types: [<class 'float'> <class 'str'>]
Column: also_view, Unique Types: [<class 'float'> <class 'list'>]
Column: also_buy, Unique Types: [<class 'float'> <class 'list'>]
Column: fit, Unique Types: [<class 'float'> <class 'str'>]
Column: details, Unique Types: [<class 'float'> <class 'str'>]
Column: similar_item, Unique Types: [<class 'float'> <class 'list'>]
Column: tech1, Unique Types: [<class 'float'> <class 'dict'>]

In [17]:
import sqlite3

db_name = 'test.db'
conn = sqlite3.connect(db_name)

# Assuming df and df_meta are your dataframes
# table_name_df = 'main'
table_name_df_meta = 'main_meta'

# Save df into the database
# columns image,feature,rank,description,also_view,also_buy,similar_item, tech1 (this a dict)
df_meta['image'] = df_meta['image'].fillna({i: [] for i in df_meta.index})
df_meta['image'] = df_meta['image'].apply(json.dumps)
df_meta['feature'] = df_meta['feature'].fillna({i: [] for i in df_meta.index})
df_meta['feature'] = df_meta['feature'].apply(json.dumps)
df_meta['rank'] = df_meta['rank'].fillna({i: {} for i in df_meta.index})
df_meta['rank'] = df_meta['rank'].apply(json.dumps)
df_meta['description'] = df_meta['description'].fillna({i: {} for i in df_meta.index})
df_meta['description'] = df_meta['description'].apply(json.dumps)
df_meta['also_view'] = df_meta['also_view'].fillna({i: [] for i in df_meta.index})
df_meta['also_view'] = df_meta['also_view'].apply(json.dumps)
df_meta['also_buy'] = df_meta['also_buy'].fillna({i: [] for i in df_meta.index})
df_meta['also_buy'] = df_meta['also_buy'].apply(json.dumps)
df_meta['similar_item'] = df_meta['similar_item'].fillna({i: [] for i in df_meta.index})
df_meta['similar_item'] = df_meta['similar_item'].apply(json.dumps)
df_meta['tech1'] = df_meta['tech1'].fillna({i: {} for i in df_meta.index})
df_meta['tech1'] = df_meta['tech1'].apply(json.dumps)



# df['style'] = df['style'].fillna({i: {} for i in df.index})
# df['style'] = df['style'].apply(json.dumps)
# df['image'] = df['image'].fillna({i: [] for i in df.index})
# df['image'] = df['image'].apply(json.dumps)
df_meta.to_sql(table_name_df_meta, conn, if_exists='replace', index=False)

# Save df_meta into the database
# df_meta.to_sql(table_name_df_meta, conn, if_exists='replace', index=False)

# Close the database connection
conn.close()