In [16]:
import pandas as pd
import json
import os
import glob
import numpy as np

# read the json file
# df_meta = pd.read_json('./meta_AMAZON_FASHION.json', lines=True)
# df_meta.head()

In [17]:
df = pd.read_json('AMAZON_FASHION.json', lines=True)
df.head()

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote,style,image
0,5,True,"10 20, 2014",A1D4G1SNUZWQOT,7106116521,Tracy,Exactly what I needed.,perfect replacements!!,1413763200,NaN,NaN,NaN
1,2,True,"09 28, 2014",A3DDWDH9PX2YX2,7106116521,Sonja Lau,"I agree with the other review, the opening is ...","I agree with the other review, the opening is ...",1411862400,3.0,NaN,NaN
2,4,False,"08 25, 2014",A2MWC41EW7XL15,7106116521,Kathleen,Love these... I am going to order another pack...,My New 'Friends' !!,1408924800,NaN,NaN,NaN
3,2,True,"08 24, 2014",A2UH2QQ275NV45,7106116521,Jodi Stoner,too tiny an opening,Two Stars,1408838400,NaN,NaN,NaN
4,3,False,"07 27, 2014",A89F3LQADZBS5,7106116521,Alexander D.,Okay,Three Stars,1406419200,NaN,NaN,NaN

In [18]:
# drop columns style,unixReviewTime, reviewTime, image
df.drop(['style','unixReviewTime','reviewTime','image'], axis=1, inplace=True)
df.head()

,overall,verified,reviewerID,asin,reviewerName,reviewText,summary,vote
0,5,True,A1D4G1SNUZWQOT,7106116521,Tracy,Exactly what I needed.,perfect replacements!!,NaN
1,2,True,A3DDWDH9PX2YX2,7106116521,Sonja Lau,"I agree with the other review, the opening is ...","I agree with the other review, the opening is ...",3.0
2,4,False,A2MWC41EW7XL15,7106116521,Kathleen,Love these... I am going to order another pack...,My New 'Friends' !!,NaN
3,2,True,A2UH2QQ275NV45,7106116521,Jodi Stoner,too tiny an opening,Two Stars,NaN
4,3,False,A89F3LQADZBS5,7106116521,Alexander D.,Okay,Three Stars,NaN

In [19]:
# df.dtypes
# for column in df.columns:
#     unique_types = df[column].apply(type).unique()
#     print(f"Column: {column}, Unique Types: {unique_types}")

In [20]:
columns_with_nan = df.columns[df.isna().any()]

print("Columns with NaN values:")
print(columns_with_nan)

Columns with NaN values:
Index(['reviewerName', 'reviewText', 'summary', 'vote'], dtype='object')

In [21]:
df[columns_with_nan] = df[columns_with_nan].fillna('')
columns_with_nan = df.columns[df.isna().any()]
print("Columns with NaN values:")
print(columns_with_nan)

Columns with NaN values:
Index([], dtype='object')

In [22]:
# import nltk
# from nltk.tokenize import word_tokenize

# # Assuming df is your DataFrame

# # Download necessary resources for nltk (only need to run once)
# # nltk.download('punkt')

# print("start")
# # Tokenize 'reviewText' and 'summary' columns
# df['reviewText_tokens'] = df['reviewText'].apply(word_tokenize)
# df['summary_tokens'] = df['summary'].apply(word_tokenize)
# print("end")

# # Print the first few rows of the DataFrame with tokenized columns
# print(df[['reviewText_tokens', 'summary_tokens']].head())

In [23]:
print("here")

here

In [24]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\Anirudha\AppData\Roaming\nltk_data...

True

In [25]:
sid = SentimentIntensityAnalyzer()

# Calculate sentiment scores for 'reviewText' and 'summary'
df['reviewText_sentiment'] = df['reviewText'].apply(lambda x: sid.polarity_scores(x)['compound'])
df['summary_sentiment'] = df['summary'].apply(lambda x: sid.polarity_scores(x)['compound'])

# Filter rows with positive sentiment in both 'reviewText' and 'summary'
positive_reviews_df = df[(df['reviewText_sentiment'] > 0) & (df['summary_sentiment'] > 0)]

# Print the resulting DataFrame with positive reviews
print(positive_reviews_df)

        overall  verified      reviewerID        asin          reviewerName  \
1             2      True  A3DDWDH9PX2YX2  7106116521             Sonja Lau
6             4      True   A7QS961ROI6E0  7106116521      REBECCA S LAYTON
14            4      True  A1Y36BSE9GKXLV  B00007GDFV              Ms Irish
15            3      True  A1L1U968VNYVA4  B00007GDFV                  J.G.
16            5      True  A1NSKPSR0XZ0C9  B00007GDFV                 Jules
...         ...       ...             ...         ...                   ...
883624        4     False  A2N8KZBMIY0X9J  B01HJEOBN6  fantasimms@yahoo.com
883627        5      True   A4DUZY9EO0O7L  B01HJHTH5U                    HC
883631        5      True  A1ZSB2Q144UTEY  B01HJHTH5U       Amazon Customer
883632        5      True  A2CCDV0J5VB6F2  B01HJHTH5U       Amazon Customer
883635        5      True  A2RSX9E79DUHRX  B01HJG5NMW   Natasha Mascarenhas

                                               reviewText  \
1       I agree with the other review, the opening is ...
6       These little plastic backs work great.  No mor...
14      Received the case in less than a week...was ve...
15      Love it but it tore up shortly after I got it....
16      I love it it is just what I was looking for th...
...                                                   ...
883624  I really love this dress and so happy I bought...
883627  I wore this to a formal fundraising event and ...
883631  I absolutely love this dress!!  It's sexy and ...
883632  I'm 5'6 175lbs. I'm on the tall side. I wear a...
883635  Ordered and was slightly small. Worked with th...

                                                  summary vote  \
1       I agree with the other review, the opening is ...  3.0
6                                            Works great!
14                                          Great bargain  2.0
15         Love it but it tore up shortly after I got ...
16                   Perfect just what I was looking for!
...                                                   ...  ...
883624                                           Love It!
883627                                           Perfect!
883631                       I absolutely love this dress
883632  I wear a large and ordered a large and it stil...  2.0
883635         The quality is excellent and it is so cute

        reviewText_sentiment  summary_sentiment
1                     0.1901             0.3612
6                     0.7883             0.6588
14                    0.0880             0.7096
15                    0.8500             0.3818
16                    0.7901             0.6114
...                      ...                ...
883624                0.9939             0.6696
883627                0.6114             0.6114
883631                0.9726             0.6697
883632                0.8516             0.5106
883635                0.9034             0.8208

[356606 rows x 10 columns]