# README
Here i import data from the json add values where there  is NaN.

In [67]:
import pandas as pd
import json

# read the json file
# df_meta = pd.read_json('./meta_AMAZON_FASHION.json', lines=True)
# df_meta.head()

In [68]:
df = pd.read_json('AMAZON_FASHION.json', lines=True)
df.head()

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote,style,image
0,5,True,"10 20, 2014",A1D4G1SNUZWQOT,7106116521,Tracy,Exactly what I needed.,perfect replacements!!,1413763200,NaN,NaN,NaN
1,2,True,"09 28, 2014",A3DDWDH9PX2YX2,7106116521,Sonja Lau,"I agree with the other review, the opening is ...","I agree with the other review, the opening is ...",1411862400,3.0,NaN,NaN
2,4,False,"08 25, 2014",A2MWC41EW7XL15,7106116521,Kathleen,Love these... I am going to order another pack...,My New 'Friends' !!,1408924800,NaN,NaN,NaN
3,2,True,"08 24, 2014",A2UH2QQ275NV45,7106116521,Jodi Stoner,too tiny an opening,Two Stars,1408838400,NaN,NaN,NaN
4,3,False,"07 27, 2014",A89F3LQADZBS5,7106116521,Alexander D.,Okay,Three Stars,1406419200,NaN,NaN,NaN

In [69]:
# drop columns style,unixReviewTime, reviewTime, image
df.drop(['style','unixReviewTime','reviewTime','image'], axis=1, inplace=True)
df.head()

,overall,verified,reviewerID,asin,reviewerName,reviewText,summary,vote
0,5,True,A1D4G1SNUZWQOT,7106116521,Tracy,Exactly what I needed.,perfect replacements!!,NaN
1,2,True,A3DDWDH9PX2YX2,7106116521,Sonja Lau,"I agree with the other review, the opening is ...","I agree with the other review, the opening is ...",3.0
2,4,False,A2MWC41EW7XL15,7106116521,Kathleen,Love these... I am going to order another pack...,My New 'Friends' !!,NaN
3,2,True,A2UH2QQ275NV45,7106116521,Jodi Stoner,too tiny an opening,Two Stars,NaN
4,3,False,A89F3LQADZBS5,7106116521,Alexander D.,Okay,Three Stars,NaN

In [70]:
# positive_reviews_df.dtypes
# for column in df.columns:
#     unique_types = df[column].apply(type).unique()
#     print(f"Column: {column}, Unique Types: {unique_types}")

In [71]:
columns_with_nan = df.columns[df.isna().any()]

print("Columns with NaN values:")
print(columns_with_nan)

Columns with NaN values:
Index(['reviewerName', 'reviewText', 'summary', 'vote'], dtype='object')

In [72]:
df[columns_with_nan] = df[columns_with_nan].fillna('')
columns_with_nan = df.columns[df.isna().any()]
print("Columns with NaN values:")
print(columns_with_nan)

Columns with NaN values:
Index([], dtype='object')

In [73]:
# import nltk
# from nltk.tokenize import word_tokenize

# # Assuming df is your DataFrame

# # Download necessary resources for nltk (only need to run once)
# # nltk.download('punkt')

# print("start")
# # Tokenize 'reviewText' and 'summary' columns
# df['reviewText_tokens'] = df['reviewText'].apply(word_tokenize)
# df['summary_tokens'] = df['summary'].apply(word_tokenize)
# print("end")

# # Print the first few rows of the DataFrame with tokenized columns
# print(df[['reviewText_tokens', 'summary_tokens']].head())

In [74]:
print("here")

here

In [75]:
# import nltk
# from nltk.sentiment.vader import SentimentIntensityAnalyzer
# nltk.download('vader_lexicon')

In [76]:
# sid = SentimentIntensityAnalyzer()

# # Calculate sentiment scores for 'reviewText' and 'summary'
# df['reviewText_sentiment'] = df['reviewText'].apply(lambda x: sid.polarity_scores(x)['compound'])
# df['summary_sentiment'] = df['summary'].apply(lambda x: sid.polarity_scores(x)['compound'])

# # Filter rows with positive sentiment in both 'reviewText' and 'summary'
# positive_reviews_df = df[(df['reviewText_sentiment'] > 0) & (df['summary_sentiment'] > 0)]

# # Print the resulting DataFrame with positive reviews
# print(positive_reviews_df)

In [77]:
# print(df.shape)
# print(positive_reviews_df.shape)

## This is where the NLP begins

Not using nltk vader as it was too aggressive for my likeing

### TextBlob
get_sentiment function takes in a string and returns polarity

In [78]:
from textblob import TextBlob
def get_sentiment(text):
    analysis = TextBlob(text)
    return analysis.sentiment.polarity

In [79]:
df['reviewText_sentiment'] = df['reviewText'].apply(get_sentiment)
print('now doing summery')
df['summary_sentiment'] = df['summary'].apply(get_sentiment)

positive_reviews_df = df[(df['reviewText_sentiment'] > 0) & (df['summary_sentiment'] > 0)]

print(positive_reviews_df)

now doing summery
        overall  verified      reviewerID        asin         reviewerName  \
0             5      True  A1D4G1SNUZWQOT  7106116521                Tracy
2             4     False  A2MWC41EW7XL15  7106116521             Kathleen
6             4      True   A7QS961ROI6E0  7106116521     REBECCA S LAYTON
9             3      True   AKS3GULZE0HFC  B00007GDFV           M. Waltman
14            4      True  A1Y36BSE9GKXLV  B00007GDFV             Ms Irish
...         ...       ...             ...         ...                  ...
883627        5      True   A4DUZY9EO0O7L  B01HJHTH5U                   HC
883628        5      True  A3EH57TD6S6LK4  B01HJHTH5U      Amazon Customer
883631        5      True  A1ZSB2Q144UTEY  B01HJHTH5U      Amazon Customer
883632        5      True  A2CCDV0J5VB6F2  B01HJHTH5U      Amazon Customer
883635        5      True  A2RSX9E79DUHRX  B01HJG5NMW  Natasha Mascarenhas

                                               reviewText  \
0                                  Exactly what I needed.
2       Love these... I am going to order another pack...
6       These little plastic backs work great.  No mor...
9       I had used my last el-cheapo fake leather ciga...
14      Received the case in less than a week...was ve...
...                                                   ...
883627  I wore this to a formal fundraising event and ...
883628  More beautifull in person than photos\nI'm 160...
883631  I absolutely love this dress!!  It's sexy and ...
883632  I'm 5'6 175lbs. I'm on the tall side. I wear a...
883635  Ordered and was slightly small. Worked with th...

                                                  summary vote  \
0                                  perfect replacements!!
2                                     My New 'Friends' !!
6                                            Works great!
9                          Top Clasp Broke Within 3 days!
14                                          Great bargain  2.0
...                                                   ...  ...
883627                                           Perfect!
883628  More beautifull in person than photos I'm 160l...
883631                       I absolutely love this dress
883632  I wear a large and ordered a large and it stil...  2.0
883635         The quality is excellent and it is so cute

        reviewText_sentiment  summary_sentiment
0                   0.250000           1.000000
2                   0.250000           0.213068
6                   0.231250           1.000000
9                   0.138430           0.625000
14                  0.246667           0.800000
...                      ...                ...
883627              1.000000           1.000000
883628              0.250000           0.500000
883631              0.437054           0.500000
883632              0.284441           0.276190
883635              0.312500           0.750000

[356379 rows x 10 columns]

In [80]:
print('here2')

here2

This saves the results into a SQL database. The table only has positive reviews.

In [81]:
import sqlite3

# Create or connect to an SQLite database
db_name = 'test.db'
conn = sqlite3.connect(db_name)

# Assuming df and df_meta are your dataframes
table_name_df = 'posi_bl'

positive_reviews_df.to_sql(table_name_df, conn, if_exists='replace', index=False)

# Save df_meta into the database
# df_meta.to_sql(table_name_df_meta, conn, if_exists='replace', index=False)

# Close the database connection
conn.close()